<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDo</title>

  <!-- font style -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- general style -->
  <link rel="stylesheet" href="./css/general/main.css" />

  <!-- index style -->
  <link rel="stylesheet" href="./css/index.css" />

</head>
<body>

  <!-- background -->
  <!-- start -->
  <div class="bg">

    <!-- desktop background -->
    <img src="./images/desktop-bg.png" alt="desktop time background" class="bg__desktop" />

    <!-- mobile background -->
    <img src="./images/mobile-bg.png" alt="mobile time background" class="bg__mobile" />

  </div>
  <!-- end -->



  <!-- navbar -->
  <!-- start -->
  <nav class="navbar">

    <!-- navbar logo -->
    <h2 class="navbar__logo">ToDo</h2>

    <!-- navbar signup and login buttons -->
    <div  class="navbar__btns">
      <button class="navbar__signup">Sign up</button>
      <button class="navbar__login">Login</button>
    </div>

  </nav>
  <!-- end -->



  <!-- main body -->
  <!-- start -->
  <main class="intro">

    <!-- intro head -->
    <h2>welcome to ToDo Website</h2>

    <!-- slider -->
    <div class="slider">
      <div class="slider-wrapper">
        <p class="slider-item">
          Here, you can manage your tasks easliy and order them as you want
        </p>
        <!-- <p class="slider-item">
          Here, you can manage your tasks easliy and order them as you want
        </p>
        <p class="slider-item">
          Here, you can manage your tasks easliy and order them as you want
        </p> -->
      </div>
      <div class="slider-nav">
        <div class="slider-nav-bar active"></div>
        <div class="slider-nav-bar"></div>
        <div class="slider-nav-bar last"></div>
      </div>
    </div>

    <!-- get start button -->
    <button>Get Start</button>

  </main>
  <!-- end -->

  
</body>
</html>